/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container{
    background-color: #FFFFFF;
}


/* top section & nav style */

.top-section{
    background-color: #2D25A0;
    height: 800px;
    margin-bottom: 70px;
    /* background-size: 100% 100%; */
}
.top-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.top-info h1{
    color: white;
    margin: 207px 0px 0px 156px;
    margin-right: 200px;
    font-weight: bold;
    font-size: 64px;
}
.top-banner img{
    width: 560px;
    height: 500px;
    margin: 153px 140.99px 86px 0px;
}
.watch-live-button{
        text-decoration: none;
        color: white;
        background-color: #E02C6D;;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 24px;
        margin-left: 156px; 
}
.top-section:hover .top-banner{
    transform: scale(1.5) rotate(360deg);
    transition: transform 2s ease-in-out;
}



/* players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 26px;
    /* height: 480px;
    width: 330px; */
    margin-left: 180px;
    margin-right: 210px;
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    height: 480px;
    width: 330px; 
}
.player-img img{
   padding: 15px 15px 16px 15px;
   width: 300px;
   height: 256px;
}
.player-name{
    margin: 0px 0px 0px 15px;
    font-size: 28px;
    color: #18191F;
}
.player-info{
    margin: 10px 0px 0px 15px;
    font-size: 16px;
    color: #6C6C6C;
   
}
 
/* Match name & information styles */

.matches{
    display: flex;
}
.match{
    width: 40%
}
strong{
    display: block;
}
.match-name{
    font-size: 48px;
    margin-left: 182px;
}

.match p{
    font-size: 16px;
    color:#6C6C6C;
    margin-left: 185px;
    margin-right: 120px;
    margin-top:8px ;
}

.match-info{
    margin: 224px 33px 217px 182px;
}

.watch-now-button{
     text-decoration: none;
     color: white;
     background-color: #E02C6D;;
     margin-left: 182px;
     padding: 10px 24px;
     font-weight: 500;
     font-size: 16px;
     /* margin-top: 24px; */
}
.fa-arrow-right{
    margin-left: 8px;
}
.match img{
    width: 567px;
    height: 427px;
    margin: 165px 156px 158px 33px;
}





/* euro styles */
.euro{
    display: grid;
    grid-template-columns: 500px 600px;
    grid-column-gap: 100px;
    margin: 0px 481.13px 63px 475px;
    box-shadow: 0px 0px 60px rgba(155, 127, 115, 0.329);
    background-color: whitesmoke;
}
.euro-match img{
    height: 430px;
    width: 520px;
    border-radius: 20px;
    padding: 15px;
}
.euro-info h2{
    font-size: 40px;
    color: #015E8B;
}
.euro-ifo p{
    color:#6C6C6C;
    font-size: 16px;
}
.euro-button{
     text-decoration: none;
     color: white;
     background-color: #015E8B;
     border-radius: 35px;
     padding: 15px 30px;
     font-weight: 500;
     font-size: 16px;
}
.fa-angle-double-right{
    margin-left: 8px;
}



/* other match style */
.match-head{
    text-align: center;
    color: darkgreen;
    font-size: 40px;
}
.other-match{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 100px;
    margin: 50px 0px 63px 0px;
    height: 500px;
}
.fifa-match, .canadian-match{
    box-shadow: 0px 0px 10px #75726aa9;
    text-align: center;
}
.other-match-info img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    margin: 25px;
}
.other-match-info h3,p{
    margin-left: 20px;
}
.match-button{
     text-decoration: none;
     color: white;
     background-color: #5D4400;
     border-radius: 35px;
     padding: 15px 30px;
     font-weight: 500;
     font-size: 16px;
}

/* footer styles */

.footer{
    /* margin: 0px 481.13px 63px 475px; */
    margin: 50px 0px 63px 0px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon{
    margin-left: 156.94px;
    margin-right: 156.94px;
} 
.fab{
    font-size: 20px;
    color: #969BAB;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
   
}
.icon{
    background-color:#E7E7E8;
}
.fa-instagram, .fa-dribbble, .fa-twitter, .fa-youtube {
    margin: 20px 7px 20px 0px;
}
.copyright-section{
    margin-left: 140px;
    margin-right: 123.94px;
    font-size: 18px;
    color: #000000;
}

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .top-details,.top-info,.top-banner,.euro,.other-match{
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }
  .players,.matches{
      display: block;
    grid-template-columns: repeat(1, 1fr);
  }

    .player, .match,.other-match-info,.euro-match,.fifa-match{
        flex-direction: column;
        grid-row-gap: 100px;
    }
    .footer,.footer-logo,.social-icon,.copyright-section{
        display: block;
        grid-template-columns: repeat(1, 1fr);  
    }
    
}
